* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    width: 100vw;
    height: 30px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#btn-header{
    width: 300px;
    height: 30px;
    border-style: dotted;
    border-color: white;
    margin-right: 20px;
}
body{
    background-color: black;
}

.main-body{
    display: flex;
    background-color: black;
    justify-content: center;
}

.display-users{
    display: flex;
    width: 87vw;
    height: 95vh;
    flex-direction: column;
}
.usersrow1{
    display: flex;
    align-self: row;
    flex-wrap: nowrap;
}

.usersrow2{
    display: flex;
    align-self: row;
    flex-wrap: nowrap;
}

.usersrow3{
    display: flex;
    align-self: row;
    flex-wrap: nowrap;
}

.usersrow4{
    display: flex;
    align-self: row;
    flex-wrap: nowrap;
}
.usersrow5{
    display: flex;
    align-self: row;
    flex-wrap: nowrap;
}


.user{
    width: calc(100vw / 8);
    height: calc(100vh / 6);
    background-image: url(https://picsum.photos/id/11/200/300);
    background-size:calc(100vw / 8) calc(100vh / 6)  ;
    background-repeat: no-repeat;
    margin: 10px 5px;
    position: relative;
}
.nametag{
    display: flex;
    width: 60%;
    height: 30px;
    background-color: rgb(109, 107, 107, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    flex-wrap: nowrap;
    color: white;
    
}

main p{
    white-space: nowrap;
    align-self: center;
    font-size: 16px;
    margin-left: 5px;
}

main i{
    font-size: 24px;
    align-self: center;
    margin-left: 5px;
}

.footer{
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: rgb(31, 30, 30);
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}


.footer-container{
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    justify-content: space-between;
}


#microphone{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    font-size: 12px;
    padding: 10px;
}

.footer .fa-solid.fa-microphone{
    margin-left: 10px;
    font-size: 30px;
}

#microphone p{
    font-size: 16px;
    margin-left: 5px;
}


#videocam{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    font-size: 12px;
    padding: 10px;
    
}

.footer i {
    align-self: center;
    font-size: 30px;
}

.footer p{
    font-size: 16px;
    margin-left: 5px;
    white-space: nowrap;
    padding: 5px;
}

.fa-share-from-square:before, .fa-share-square:before {
    content: "\f14d";
    color: green;
}

.fa-chevron-up:before {
    content: "\f077";
    font-size: 20px;
    align-self: center;
}

.footer-containerright{
    display: flex;
    width: 300px;
    height: 100%;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

span{
    color: red;
}